Pillow==9.4.0
cycler==0.11.0
fonttools==4.38.0
joblib==1.2.0
kiwisolver==1.4.4
kmodes==0.12.2
matplotlib==3.5.3
numpy==1.21.6
packaging==22.0
pandas==1.1.5
pip==21.3.1
plotly==5.11.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
setuptools==60.2.0
six==1.16.0
tenacity==8.1.0
threadpoolctl==3.1.0
typing-extensions==4.4.0
wheel==0.37.1